@page "/Categories/DeleteCategory/{Id:int}"


<h1 class="mb-3">Delete Category</h1>
<p>Are you sure want to delete Category with Id @Id?</p>
<button class="btn btn-danger" @onclick="Delete_Category">Delete</button>
<a class="btn btn-secondary" href="/Categories">Cancel</a>