@page "/Categories/UpdateCategory/{Id:int}"


<div class="row">
	<div class="col-lg-8">
		<h1 class="mb-5">Update</h1>

        <EditForm Model="CategoryData" OnValidSubmit="SaveCategory">
            <DataAnnotationsValidator />

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Category Name</label>
                <div class="col-md-8">
                    <InputText class="form-control" @bind-Value="CategoryData.Name" />
                    <ValidationMessage For="@(() => CategoryData.Name)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Is Income</label>
                <div class="col-md-8">
                    <InputCheckbox class="form-check-input" @bind-Value="CategoryData.IsIncome" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Description</label>
                <div class="col-md-8">
                    <InputText class="form-control" @bind-Value="CategoryData.Description" />
                    <ValidationMessage For="@(() => CategoryData.Description)" />
                </div>
            </div>

            @if (ServerErrors?.Count > 0)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ServerErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }

            <div class="row">
                <div class="offset-md-4 col-md-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-md-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Categories">Cancel</a>
                </div>
            </div>
        </EditForm>
	</div>
</div>
