@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (AuthService.IsAuthenticated)
            {
                <button @onclick="GoSettings">Настройка аккаунта</button>
                <a href="#" @onclick="Logout">Выйти</a>
            }
            else
            {
                <a href="login">Войти</a>
                <a href="register">Зарегистрироваться</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>