@page "/Transactions/DeleteTransaction/{Id:int}"


<h1 class="mb-3">Удалить транзакцию</h1>
<p>Вы уверены, что хотите удалить транзакцию?</p>
<button class="btn btn-danger" @onclick="Delete_Transaction">Да, удалить</button>
<a class="btn btn-secondary" href="/Transactions">Нет, оставить</a>