@page "/Transactions/UpdateTransaction/{Id:int}"


<div class="row">
	<div class="col-lg-8">
		<h1 class="mb-5">Update</h1>

		@if (transaction == null)
		{
			<p><em>Loading ...</em></p>
		}
		else
		{
			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Amount</label>
				<div class="col-md-8">
					<input class="form-control" @bind="TransactionData.Amount" />
				</div>
			</div>
			@if (Errors?["Amount"] != null)
			{
				<div class="text-danger">@Errors["Amount"]![0]!.ToString()</div>
			}

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Description</label>
				<div class="col-md-8">
					<input class="form-control" @bind="TransactionData.Description" />
				</div>
			</div>
			@if (Errors?["Description"] != null)
			{
				<div class="text-danger">@Errors["Description"]![0]!.ToString()</div>
			}

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">AccountId</label>
				<div class="col-md-8">
					<input class="form-control" @bind="TransactionData.AccountId" />
				</div>
			</div>
			@if (Errors?["AccountId"] != null)
			{
				<div class="text-danger">@Errors["AccountId"]![0]!.ToString()</div>
			}

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">CategoryId</label>
				<div class="col-md-8">
					<input class="form-control" @bind="TransactionData.CategoryId" />
				</div>
			</div>
			@if (Errors?["CategoryId"] != null)
			{
				<div class="text-danger">@Errors["CategoryId"]![0]!.ToString()</div>
			}

			<div class="row">
				<div class="offset-md-4 row-cols-md-4 d-grid">
					<button class="btn btn-primary" @onclick="SaveTransaction">Submit</button>

				</div>
				<div class="col-md-4 d-grid">
					<a class="btn btn-outline-primary" href="/Transactions">Cancel</a>
				</div>
			</div>
		}
	</div>
</div>
