@page "/Users/DeleteUser/{Id:int}"


<h1 class="mb-3">Delete User</h1>
<p>Are you sure want to delete user with Id @Id?</p>
<button class="btn btn-danger" @onclick="Delete_User">Delete</button>
<a class="btn btn-secondary" href="/users">Cancel</a>
