@page "/Users/UpdateUser/{Id:int}"


<div class="row">
	<div class="col-lg-8">
		<h1 class="mb-5">Update</h1>

		@if (user == null)
		{
			<p><em>Loading ...</em></p>
		}
		else
		{
			<div class="row mb-3">
				<label class="col-md-4 col-form-label">UserName</label>
				<div class="col-md-8">
					<input class="form-control" @bind="userData.Username" />
				</div>
			</div>
			@if (Errors?["Username"] != null)
			{
				<div class="text-danger">@Errors["Username"]![0]!.ToString()</div>
			}

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Email</label>
				<div class="col-md-8">
					<input class="form-control" @bind="userData.Email" />
				</div>
			</div>
			@if (Errors?["Email"] != null)
			{
				<div class="text-danger">@Errors["Email"]![0]!.ToString()</div>
			}

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Password</label>
				<div class="col-md-8">
					<input class="form-control" @bind="userData.Password" />
				</div>
			</div>
			@if (Errors?["Password"] != null)
			{
				<div class="text-danger">@Errors["Password"]![0]!.ToString()</div>
			}

			<div class="row">
				<div class="offset-md-4 row-cols-md-4 d-grid">
					<button class="btn btn-primary" @onclick="SaveUser">Submit</button>

				</div>
				<div class="col-md-4 d-grid">
					<a class="btn btn-outline-primary" href="/Users">Cancel</a>
				</div>
			</div>
		}
	</div>
</div>
